.gradle/
.idea/

grpc-common/build/
grpc-client/build/

grpc-common/gradle/wrapper/
grpc-client/gradle/wrapper/



grpc-client/gradlew
grpc-client/gradlew.bat
grpc-client/settings.gradle.kts
grpc-common/gradlew
grpc-common/gradlew.bat
grpc-common/settings.gradle.kts
grpc-server/gradlew
grpc-server/gradlew.bat
grpc-server/settings.gradle.kts

*.xml
